@use "../../../assets/scss/bootstrap-variables" as *;

.router-icon {
  font-size: 10px;
  width: 30px;
  height: 30px;
  padding-top: 2px;
  cursor: pointer;
}

.avatar {
  border-radius: 40px;
}

.avatar-unknowm {
  border-radius: 40px;
  font-size: 22px;
  width: 45px;
  height: 45px;
  padding-top: 4px;
  text-align: center;
  vertical-align: center;
  background-color: $white;
  color: $dark;
}

.hover-animation:hover {
  transition: .3s;
    cursor: pointer;
}
